* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

dialog {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}
